:root {
	--poiret-one: "Poiret One", cursive;
	--roboto-condensed: "Roboto Condensed", sans-serif;

	--color-main: #1b2e26;
	--color-main-shadow: #0c161231;
	--color-main-off: #31463d;
	--color-secondary: #fcf4e7;
	--color-text: #fcfefd;
	--color-text-dark: #0a2e1c;
	--color-accent: #ea4c2f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;

	font-family: var(--roboto-condensed);
	font-weight: 300;
	line-height: 1.3;
	color: var(--color-text);
}

@media screen and (max-width: 600px) {
	body {
		flex-direction: column;
	}
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: var(--poiret-one);
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

a {
	font-family: var(--roboto-condensed);
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.img_container {
	width: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

nav {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
nav ul li {
	cursor: pointer;
	position: relative;
}
nav ul li:not(li:first-child) {
	margin-left: 1rem;
}
/* Underline animation */
li::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.08em;
	background: var(--color-accent);
	transform-origin: right;
	transition: transform 300ms;
	transform: scale(0);
}

li:hover::before {
	transform: scale(1);
	transform-origin: left;
}

.hero_container {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center;
}
.hero_container > div {
	padding-inline: 1rem;
}

header {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: var(--color-main);

	box-shadow: 0 0 0.5rem 0.3rem var(--color-main-shadow);
	z-index: 1;
}

@media screen and (max-width: 600px) {
	header {
		flex: 0.4;
	}
}

header h1  {
	margin: 0;
}
header h5 {
	margin: 0;
	font-family: var(--roboto-condensed);
}

main {
	flex: 1.6;
	height: 100vh;
	scroll-snap-type: y proximity;
	overflow-y: scroll;

	background-color: var(--color-main-off);
}

main > section {
	height: 100vh;
	scroll-snap-align: start;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	main > section {
		height: 80vh;
	}
}

section > div {
	max-width: 60%;

	display: flex;
	flex-direction: column;
}
section > div > div:last-child {
	margin-top: 1em;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
section > div > div > * {
	font-family: var(--roboto-condensed);
	font-weight: 200;
	margin: 0;
}

section h5 {
	flex: 3;
	max-width: 34ch;
}

section button {
	color: #fff;
	text-decoration: none;
	flex: 1;
	background: var(--color-accent);
	text-align: center;
	display: inline;
	height: fit-content;
	padding: 0.07em 0.8em;
	border-radius: 1em;

	border: none;
	padding: 0.3em 1.5em;
	font-size: 1em;
	cursor: pointer;
}

#about,
#contact {
	background-color: var(--color-secondary);
	color: var(--color-text-dark);
}

#about > div {
}
.project:nth-child(even) {
	background-color: var(--color-main);
}

.details-form {
	display: flex;
	gap: 1rem;
}
.details-form div {
	flex: 1;
	display: flex;
	flex-direction: column;
}
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
form > div:nth-child(2) {
	display: flex;
	flex-direction: column;
}

form input {
	width: 100%;
}

input,
textarea {
	border: none;
	appearance: none;
	resize: none;
}
input:focus,
textarea:focus {
	outline: solid 2px var(--color-accent);
}

/** PAGE TRANSITION */
.page-trans-start-container {
	z-index: 999;
}
.page-trans-start {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(250, 228, 168);

	transform-origin: bottom;
	transform: scaleY(0);

	display: grid;
	place-content: center;
}
.page-trans-start-container h2 {
	color: var(--color-text-dark);
	display: none;
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 5rem;
	transform: translate(-50%, -50%);
}
